* {
  margin: 0;
  padding: 0;
  color: #00ffff;
  font-family: Georgia;
}
@media screen and (min-width: 600px) {
  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .education {
    margin-left: 100px;
  }
}
.logo {
  width: 100px;
  /* height: 100px; */
}

.mongo {
  width: 120px;
}
.python {
  height: 30px;
}
